<template lang='pug'>
v-card
v-card-title {{$t('admin.show_smtp_setup')}}
v-card-text

    p.my-4(v-html="$t('admin.smtp_description')")

    v-form(ref='smptForm')
        v-container     
            v-row   
                v-col(cols='12' lg='6')
                    v-text-field(v-model='host' type='text'
                        v-bind='hostAttrs'
                        :label='$t("admin.smtp_hostname")' autocomplete='host'
                    )

                v-col(cols='12' lg='6')
                    v-text-field(v-model='port' type='number'
                        v-bind='portAttrs'
                        :label='$t("admin.smtp_port")' autocomplete='port'
                    )
            
            v-row   
                v-col(cols='12')
                    v-checkbox(
                        v-model='useTLS'
                        v-bind='useTLSAttrs'
                        :label="$t('admin.smtp_secure')"
                    )

            v-row 
                v-col(cols='12' lg='6')
                    v-text-field(v-model='email' type='email'
                        v-bind='emailAttrs'
                        :label='$t("admin.admin_email")' autocomplete='email'
                    )
                
                v-col(cols='12' lg='6')
                    v-text-field(v-model='password' type="password"
                        v-bind='passwordAttrs'
                        :label="$t('common.password')"
                    )

            v-row.my-4
                p {{$t('admin.smtp_test_button')}}
                v-spacer
                v-btn(variant="elevated" @click='verify'
                :disabled='loading' :loading='loading'
                    color='primary') {{$t('common.send')}}
            
            v-row.my-4
                v-alert(v-if='verifySmtpSuccess' variant="outlined" type="success" icon="$success" :title="$t('common.ok')" :text="$t('admin.smtp_test_success', { admin_email: email })") 
                v-alert(v-if='verifySmtpError' variant="outlined" type="error" icon="$error" :title="$t('common.error')" :text="$t('admin.smtp_test_error')") 


v-card-actions
    v-btn(variant="text" @click="navigateTo('/')") {{ $t('common.home') }}
    v-spacer
    v-btn(variant="elevated" @click='save'
    :disabled='loading' :loading='loading'
    color='primary') {{$t('common.save')}}
        //- v-icon(v-text='mdiChevronRight')
</template>

<script setup lang="ts">
    import { useForm } from 'vee-validate'
    import { toTypedSchema } from '@vee-validate/zod'
    import { z } from 'zod'

    // Get current config 
    const { data: smtp } = await useFetch('/api/settings/smtp')
    console.log("Get SMTP config")
    console.log(smtp.value)

    // SMTP schema
    const smptSchema = z.object({
        host: z.string(),
        port: z.string(),
        useTLS: z.boolean().optional(),
        email: z.string().email(),
        password: z.string(),
    })

    const form = useForm({
        validationSchema: toTypedSchema(smptSchema),
    })
    
    // Configure error messages
    const vuetifyConfig = (state) => ({
        props: {
            'error-messages': state.errors,
        },
    })

    const [host, hostAttrs] = form.defineField('host', vuetifyConfig);
    const [port, portAttrs] = form.defineField('port', vuetifyConfig);
    const [useTLS, useTLSAttrs] = form.defineField('useTLS', vuetifyConfig);
    const [email, emailAttrs] = form.defineField('email', vuetifyConfig);
    const [password, passwordAttrs] = form.defineField('password',vuetifyConfig);

    if(smtp.value){
        host.value = smtp.value.host 
        port.value = smtp.value.port
        useTLS.value = smtp.value.useTLS
        email.value = smtp.value.email
        password.value = smtp.value.password
    }

    const loading: Ref<boolean> = ref(false)
    const verifySmtpSuccess: Ref<Boolean> = ref(false)
    const verifySmtpError: Ref<Boolean> = ref(false)

    async function verify() {
        
        const validation = await form.validate()
        if (!validation.valid) {
            console.log("Form not valid")
            return 
        }

        loading.value = true

        try {
            console.log("Start verification process")
            const { data: result } = await useFetch('/api/settings/smtp/verify', {
                method: "post",
                body: { 
                    host,
                    port,
                    useTLS,
                    email,
                    password,
                }
            })

            if(result.value){
                // Show success msg
                verifySmtpSuccess.value = !!result
                verifySmtpError.value = !!!result
            }else {
                // Show error msg
                verifySmtpError.value = !!result
                verifySmtpSuccess.value = !!!result
            }
        } catch (e) {
            console.log(`Error ${e}`)
        }
        loading.value = false    
    }

    async function save() {
        
        const validation = await form.validate()
        if (!validation.valid) {
            console.log("Form not valid")
            return 
        }

        loading.value = true

        try {
            console.log("Save SMTP config")
            const { data: result } = await useFetch('/api/settings/smtp', {
                method: "put",
                body: { 
                    host,
                    port,
                    useTLS,
                    email,
                    password,
                },
                watch: false // Avoid reactive sources from re-fetching (re-trigger the API call)

            })

            // TODO: handle success or error state notification, create a notification component....
            if(result.value){
                // Show success msg
                verifySmtpSuccess.value = !!result
                verifySmtpError.value = !!!result
            }else {
                // Show error msg
                verifySmtpError.value = !!result
                verifySmtpSuccess.value = !!!result
            }
        } catch (e) {
            console.log(`Error ${e}`)
        }
        loading.value = false 
    }


</script>
