<template lang="pug">
v-toolbar(dark prominent)
    v-menu
        template(v-slot:activator="{ props }")
            v-btn(icon="mdi-menu" v-bind="props")

        v-list
            v-list-item(
                v-for="(link, i) in links"
                :key="i"
            )
                v-button(
                    variant="text"
                    @click="navigateTo(link.url)"
                ) {{ link.title }}

    v-toolbar-title amoved 
    v-spacer

    userStatus
    v-btn( class="ma-2" icon="mdi-logout" @click='logout' )

    
</template>

<script setup lang="ts">
    import userStatus from './UserStatus.vue';

    const { data, signOut } = useAuth()

    // console.log(data.value.user.id)

    async function logout() {
        const result = await signOut()
        console.log("Resultado de logout")
        console.log(result)
    }

    const links: Ref<Object> = ref([
        {
            title: 'Inicio',
            url: '/'
        },
        {
            title: 'Configuración',
            url: '/config'
        },
    ])

</script>

<style scoped>
    .v-toolbar {
        width: 100%;
    }

</style>