<template lang="pug">

v-chip(
      class="ma-2"
      color="primary"
      label
    ) 
        v-icon( start icon="mdi-account-circle-outline")
        | {{ data ? data.user.name : 'username' }}
    
</template>

<script setup lang="ts">
    const { data } = useAuth()
</script>

<style scoped>

</style>