<template lang='pug'>
v-col(cols='12' md="6" lg="5" xl="4")
    v-sheet.my-6.pa-6(elevation="4" max-width="1200" width="100%")
        v-container
            v-row.mt-md-5.ma-0(align='center' justify='center')
            v-col.pa-0.pa-md-3

                v-card
                v-card-title {{$t('common.activate_user')}}

                v-card-text
                    p(v-html="$t('register.complete')")
                    

                v-card-actions
                    v-btn(variant="text" @click="navigateTo('/')") {{ $t('common.home') }}
                    
</template>

<script setup lang="ts">

    definePageMeta({ 
        auth: false
    })

</script>
