<template lang='pug'>
v-col(cols='12' md="10" lg="8" xl="6")
    v-sheet.my-6.pa-6(elevation="4" max-width="1200" width="100%")
        v-container
            v-row.mt-md-5.ma-0(align='center' justify='center')
            v-col.pa-0.pa-md-3
                configForm
                
</template>

<script setup lang="ts">

</script>
