<template lang='pug'>
v-col(cols="6")
    v-sheet.my-6.pa-6(elevation="4" max-width="1200" width="100%")
        v-container
                
                v-row(v-if="status === 'authenticated'")
                    toolbar 

                v-row(justify="center")
                    v-col
                        h1.text-center Boilerplate de Nuxt3 para 
                            a(href="https://amoved.es") amoved
                
                v-row
                    v-col
                        p Esta plantilla está diseñada para acelerar el proceso de creación de una aplicación web.
                    
                v-row  
                    v-col 
                        v-card(max-width="200" width="100%")
                            v-list 
                                v-list-subheader 
                                    v-list-item-title 
                                        v-icon( start icon="mdi-open-source-initiative")
                                        | Tecnologías
                                v-list-item 
                                    a(href="https://vuejs.org") Vue3

                                v-list-item 
                                    a(href="https://nuxt.com") Nuxt3
                                v-list-item 
                                    a(href="https://vuetifyjs.com") Vuetify
                                v-list-item 
                                    a(href="https://tailwindcss.com") Tailwind
                
                
                v-row(justify="space-evenly") 
                    v-col
                        v-btn(@click="navigateTo('/login')") {{$t("common.login")}}
                        v-btn(@click="navigateTo('/register')") {{$t("common.register")}}

</template>
<script setup lang="ts">
    import toolbar from '~/components/Toolbar.vue';

    const { status, data } = useAuth() // status = 'unauthenticated' | 'authenticated'
    // console.log("Estado:")
    // console.log(status.value)
    // console.log("Datos:")
    // console.log(data.value)
   
    definePageMeta({ 
        auth: false
    })
</script>
