<template lang='pug'>
v-container.pa-0.pa-md-3
    v-row.mt-md-5.ma-0(align='center' justify='center')
        v-col.pa-0.pa-md-3(cols='12' md="6" lg="5" xl="4")
            v-form(ref='loginForm')
            v-card
                v-card-title {{$t('common.login')}}
                v-card-subtitle(v-text="$t('login.description')")

                v-card-text

                    v-text-field(v-model='email' type='email'
                        v-bind='emailAttrs'
                        ref='emailField'
                        :label='$t("common.email")')

                    v-text-field(v-model='password' type='password'
                        v-bind='passwordAttrs'
                        :label='$t("common.password")')

                    v-alert(v-if='loginFailed' variant="outlined" type="error" icon="$error" :title="$t('common.error')" :text="$t('login.error')") 
                    v-alert(v-if='forgotPassEmailSent' variant="outlined" type="success" icon="$success" :title="$t('common.ok')" :text="$t('auth.recover_pass_sent')") 
                
                    v-card-actions

                        v-btn(
                            tabindex="1" 
                            @click='forgot' 
                            variant="text"
                            color="blue"
                        ) {{$t('login.forgot_password')}}

                    v-card-actions

                        v-btn(
                            to='/register' 
                            variant="elevated"
                        ) {{$t('login.not_registered')}}
                        
                        v-spacer

                        v-btn(
                            @click='submit' 
                            :loading='loading'
                            variant="elevated"
                        ) {{$t('common.login')}}
            
            

</template>

<script setup lang="ts">
    import { toTypedSchema } from '@vee-validate/zod'
    import { z } from 'zod'

    const name = 'Login'

    const { signIn } = useAuth()

    const registerSchema = z.object({
        email: z.string().email(),
        password: z.string().optional()
    })

    const form = useForm({
        validationSchema: toTypedSchema(registerSchema),
    })

    // Configure error messages
    const vuetifyConfig = (state) => ({
        props: {
            'error-messages': state.errors,
        },
    })

    // Declare emailField ref for autofocus
    const [email, emailAttrs] = form.defineField('email', vuetifyConfig);
    const [password, passwordAttrs] = form.defineField('password',vuetifyConfig);
    
    const loading: Ref<boolean> = ref(false)
    const loginFailed: Ref<boolean> = ref(false)
    const emailField = ref(null)
    const forgotPassEmailSent: Ref<boolean> = ref(false)

    async function forgot () {
        console.log("Lets try to recover your account")
        const validation = await form.validate()
        console.log(validation)
        if (!validation.valid) {
            emailField.value.focus()
            return
        }

        try {
            loading.value = true
            console.log("Calling backend for email:")
            console.log(email.value)
            const {data: result} = await useFetch('/api/auth/recover', {
                method: 'put',
                body: {
                    email: email.value
                }
            })
            console.log(result)
            if(result.value?.recoverySent){
                forgotPassEmailSent.value = true
            }
            loading.value = false
        } catch(e) {
            console.log("Request error")

            console.log(e)
        }
    }

    async function submit () {

        loginFailed.value = false

        const validation = await form.validate()
        if (!validation.valid) {
            console.log("Form not valid")
            return
        }

        try {
            loading.value = true
            const result = await signIn({ email: email.value, password: password.value }, {redirect: false})
            console.log("Resultados:")
            console.log(result)
            loading.value = false

            console.log("Logged in!")
        } catch (e) {
            console.log("Error")
            console.log(e)
            // this.$root.$message('login.error',{ color: 'error' })
            loading.value = false
            loginFailed.value = true
            return
        }

        password.value = ''
        navigateTo('/')
    }
        
    definePageMeta({    
        auth: {        
            unauthenticatedOnly: true,        
            navigateAuthenticatedTo: '/',    
        }
    })
    
</script>


    