<template lang='pug'>
v-col(cols="6")
    v-sheet.my-6.pa-6(elevation="4" max-width="1200" width="100%")
        v-container
                
                v-row(justify="center")
                    v-col
                        h1.text-center Área privada
                            a(href="https://amoved.es") amoved
                
                v-row
                    v-col
                        p Esta plantilla está diseñada para acelerar el proceso de creación de una aplicación web.
                    
                v-row  
                    v-col 
                        v-card(max-width="200" width="100%")
                            v-list 
                                v-list-subheader 
                                    template(v-slot:prepend)
                                        v-icon :icon="mdi-account"
                                    v-list-item-title Tecnologías
                                v-list-item 
                                    a(href="https://vuejs.org") Vue3

                                v-list-item 
                                    a(href="https://nuxt.com") Nuxt3
                                v-list-item 
                                    a(href="https://vuetifyjs.com") Vuetify
                                v-list-item 
                                    a(href="https://tailwindcss.com") Tailwind
                
                
                v-row(justify="space-evenly") 
                    v-col
                        v-btn(@click="navigateTo('/login')") {{$t("common.login")}}
                        v-btn(@click="navigateTo('/register')") {{$t("common.register")}}

</template>
<script setup>   

</script>