<template lang='pug'>
v-col(cols='12' md="6" lg="5" xl="4")
    v-sheet.my-6.pa-6(elevation="4" max-width="1200" width="100%")
        v-container
            v-row.mt-md-5.ma-0(align='center' justify='center')
            v-col.pa-0.pa-md-3

                v-card
                v-card-title {{$t('common.new_password')}}

                v-card-text
                    p(v-html="$t('recover.description')")
                    br
                    
                    v-text-field(v-model='password' type="password"
                            v-bind='passwordAttrs'
                            :label="$t('common.password')"
                        )

                    v-text-field(v-model='passwordConfirm' type="password"
                        v-bind='passwordConfirmAttrs'
                        :label="$t('common.password_confirm')"
                    )

                v-card-actions
                    v-btn(variant="text" @click="navigateTo('/')") {{ $t('common.home') }}
                    v-spacer
                    v-btn(variant="text" @click="restorePassword") {{ $t('common.send') }}
                  
</template>

<script setup lang="ts">
    
    import { useForm } from 'vee-validate'
    import { toTypedSchema } from '@vee-validate/zod'
    import { z } from 'zod'

    const route = useRoute()
    // const enabledField = ref(false)

    // Form schema
    const registerSchema = z.object({
        password: z.string().min(8),
        passwordConfirm: z.string(),
    }).superRefine(({ password, passwordConfirm },ctx) => {
        if( password !== passwordConfirm) {
            ctx.addIssue({
                code: "custom",
                message: "Passwords doesn't match",
                path: ['passwordConfirmMatch']
            })
        }
    })

    const form = useForm({
        validationSchema: toTypedSchema(registerSchema),
    })
    
    // Configure error messages
    const vuetifyConfig = (state) => ({
        props: {
            'error-messages': state.errors,
        },
    })

    const [password, passwordAttrs] = form.defineField('password',vuetifyConfig);
    const [passwordConfirm, passwordConfirmAttrs] = form.defineField('passwordConfirm', vuetifyConfig);

    // if(route.query.code){
    //     console.log('Got code, verifying user')
    //     console.log(route.query.code)
    //     try {
    //         const { data: isVerified } = await useFetch('/api/auth/verify', {
    //             method: "put",
    //             body: { 
    //                 code: route.query.code
    //             }
    //         })

    //         console.log("Request result:")
    //         console.log(isVerified)

    //         if(isVerified){
    //             // Enable password inputs
    //             enabledField.value = true
    //         }
    //     } catch(e) {
    //         console.log("can't verify user")
    //         console.log(e)
    //     }
    // }

    async function restorePassword() {
        console.log("Setting new password")
        try {
            const { data: passwordUpdated } = await useFetch('/api/auth/restore', {
                method: "put",
                body: { 
                    temporaryAccessToken: route.query.code,
                    password
                }
            })

            console.log("Request result:")
            console.log(passwordUpdated)

            if(passwordUpdated){
                // Enable password inputs
                navigateTo('/login')
            }
        } catch(e) {
            console.log("can't verify user")
            console.log(e)
        }
    }

    definePageMeta({ 
        auth: false
    })

</script>
