<template lang='pug'>
v-col(cols='12' md="6" lg="5" xl="4")
    v-sheet.my-6.pa-6(elevation="4" max-width="1200" width="100%")
        v-container
            v-row.mt-md-5.ma-0(align='center' justify='center')
            v-col.pa-0.pa-md-3

                v-card
                v-card-title {{$t('common.register')}}
                v-card-text
                    p(v-html="$t('register.description')")
                    v-form(ref='registerForm')

                        v-text-field(v-model='name' type='name'
                            v-bind='nameAttrs'
                            :label='$t("common.name")' autocomplete='name'
                        )

                        v-text-field(v-model='email' type='email'
                            v-bind='emailAttrs'
                            :label='$t("common.email")' autocomplete='email'
                        )
                        

                        v-text-field(v-model='password' type="password"
                            v-bind='passwordAttrs'
                            :label="$t('common.password')"
                        )

                        v-text-field(v-model='passwordConfirm' type="password"
                            v-bind='passwordConfirmAttrs'
                            :label="$t('common.password_confirm')"
                        )

                        v-checkbox(
                            v-model='terms' type="terms"
                            v-bind='termsAttrs'
                            :label="$t('common.terms')"
                        )

                v-card-actions
                    v-btn(variant="text" @click="navigateTo('/')") {{ $t('common.home') }}
                    v-spacer
                    v-btn(variant="elevated" @click='register'
                    :disabled='loading' :loading='loading'
                    color='primary') {{$t('common.send')}}
                        //- v-icon(v-text='mdiChevronRight')
</template>

<script setup lang="ts">
    import { useForm } from 'vee-validate'
    import { toTypedSchema } from '@vee-validate/zod'
    import { z } from 'zod'
    // import { mdiChevronRight } from '@mdi/js'

    // Form schema
    const registerSchema = z.object({
        name: z.string(),
        email: z.string().email(),
        password: z.string().min(8),
        passwordConfirm: z.string(),
        terms: z.boolean({ required_error: "You have to agree on the terms and conditions" })
    }).superRefine(({ password, passwordConfirm },ctx) => {
        if( password !== passwordConfirm) {
            ctx.addIssue({
                code: "custom",
                message: "Passwords doesn't match",
                path: ['passwordConfirmMatch']
            })
        }
    })

    const form = useForm({
        validationSchema: toTypedSchema(registerSchema),
    })
    
    // Configure error messages
    const vuetifyConfig = (state) => ({
        props: {
            'error-messages': state.errors,
        },
    })

    const [name, nameAttrs] = form.defineField('name', vuetifyConfig);
    const [email, emailAttrs] = form.defineField('email', vuetifyConfig);
    const [password, passwordAttrs] = form.defineField('password',vuetifyConfig);
    const [passwordConfirm, passwordConfirmAttrs] = form.defineField('passwordConfirm', vuetifyConfig);
    const [terms, termsAttrs] = form.defineField('terms', vuetifyConfig);

    const loading: Ref<boolean> = ref(false)

    async function register () {
        
        const validation = await form.validate()
        if (!validation.valid) {
            console.log("Form not valid")
            return 
        }

        try {
            loading.value = true
            const { data: user } = await useFetch('/api/user', {
                method: "post",
                body: { 
                    name,
                    email,
                    password,
                    terms
                }
            })

            // Check if API returned the new user
            if(user.value?.id){
                console.log("Perfil registrado")
                navigateTo('/verify')
            } else {
                console.log("No ha sido posible registrar tu perfil. Tal vez ya tengas una cuenta.")
                console.log(user.value)
            }

        } catch (e) {
            console.log(`Error ${e}`)
            // const error = get(e, 'response.data.errors[0].message', String(e))
            // this.$root.$message(error, { color: 'error' })
        }
        loading.value = false

       
        // this is the first user registered
        // const first_user = user && user.is_admin && user.is_active
        // this.$root.$message(first_user ? 'register.first_user': 'register.complete', { color: 'success' })
    }

    definePageMeta({ 
        auth: false
    })

</script>
