<template lang='pug'>
v-col(cols='12' md="6" lg="5" xl="4")
    v-sheet.my-6.pa-6(elevation="4" max-width="1200" width="100%")
        v-container
            v-row.mt-md-5.ma-0(align='center' justify='center')
            v-col.pa-0.pa-md-3

                v-card
                v-card-title {{$t('common.verify')}}

                v-card-text
                    p(v-html="$t('register.verify')")
                    

                v-card-actions
                    v-btn(variant="text" @click="navigateTo('/')") {{ $t('common.home') }}
                    
</template>

<script setup lang="ts">

    const route = useRoute()

    if(route.query.code){
        console.log('Got code, verifying user')
        console.log(route.query.code)
        try {
            const { data: isVerified } = await useFetch('/api/auth/verify', {
                method: "put",
                body: { 
                    temporaryAccessToken: route.query.code
                }
            })

            console.log("Request result:")
            console.log(isVerified)

            if(isVerified){
                navigateTo('/activated-account')
            }
        } catch(e) {
            console.log("can't verify user")
            console.log(e)
        }
    }

    definePageMeta({ 
        auth: false
    })

</script>
